body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#main {
    text-align: center;
}

.game-table {
    display: grid;
    gap: 5px; /* "border" */
    width: 80vh;
    height: 80vh;
    background: black; /* "border" color */
}

.game-cell {
    display: grid;
    font-size: 10rem;
    background: white; /* cell color */
    overflow: hidden;
    place-items: center;
}
